<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul >
            <li>
                <a href="/" class="nav__link">Home</a>
            </li>
            <li>
                <a href="/blog" class="nav__link">Blog</a>
            </li>
            <li>
                <a class="nav__link" href="/about">About</a>
            </li>
            <li>
                <a class="nav__link" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="searchBtn" >
          Logout   
        </button>
    </div>

</header>
