@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap');

:root{
    --black:#1c1c1c;
    --gray:#7e7e7e;
    --gray-light:#e4e4e4;
    --red:#b30000;
    --font-size-base:1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius:10px;

}
body{
font-family: 'McLaren';
color: var(--black);
font-size: (--font-size-base);
background-color: #faf5ee;
background-image: url('/img/img-noise-361x370.png');
}
input[type="text"],
select,
textarea{
    font-family: 'McLaren', cursive;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;

}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
section{
    position: relative;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    background-color:darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
}

h1{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.sign-up{
    display: none;
}
.inputBox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 1px solid black;
}
.inputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
input:focus ~label,
input:valid ~ label{
    top: -5px;
}
.inputBox input{
    widows: 100%;
    height: 60px;
    background: transparent;
    border: none;
    font-family: inherit;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: white;
}
.forget{
    margin: 35px 0;
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
}
.forget label{
    padding: 0 20px;
}
.forget label input{
    margin-right: 3px;
    zoom: 1.4;
    vertical-align: sub;
}
.forget label a{
    color: white;
    text-decoration: none;
    padding-left: 15px;

}
.forget label a:hover{
    text-decoration: underline;
    color: rgb(66, 66, 226);
}
.btn__form{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
.para{
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin: 25px 0 10px;

}
.para p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-left: 15px;
}
.para p a:hover{
    text-decoration: underline;
    color: rgb(66, 66, 226);
}
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: "logo button" "menu menu";
}
@media only screen and (min-width:768px){
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo menu button ";
    }
}

.header__logo{
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header__logo:hover{
    text-transform: uppercase;
}
.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header__button{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button{
    display: flex;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    gap: 0.3rem;
    color: var(--black);
    font-size: var(--font-size-base);
    font-weight: 600;
}
.header__button button:hover{
    border:  2px solid var(--black);
}

.btn{
    background-color: var(--black);
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete{
    padding: 10px 16px;
    background-color: var(--red);
}


/* Header Navigation */

.header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}
.header__nav ul a{
    padding: 10px;
    text-decoration: none;
}
.header__nav ul a:hover{
    text-transform: uppercase;
}
.active{
    color: red;
    text-transform: uppercase;
}
.footer{
    margin: 4rem;
    text-align: center;
    
}

/* Dashboard Admin */
.admin-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-posts{
    padding: 0;
    margin: 0;
}
.admin-posts-controls form{
    display: inline-block;
}
.admin-posts-controls .butt{
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 6px 12px;
    line-height: 2;
    border-radius: 15px;
    cursor: pointer;
}
.admin-posts li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


img{
    width: 100%;
    height: auto;
}
/* layouts */

.container{
    max-width: 928px;
    margin: 0 auto;
    padding: 0 10px;
}

.main{
    padding: 20px 0;
}

/* Hero Section */
.hero-image{
    max-height:528px;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius:var(--border-radius);
}
/* Main Header */
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: "logo button" "menu menu";
}
@media only screen and (min-width:768px){
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo menu button ";
    }
}

.header__logo{
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header__logo:hover{
    text-transform: uppercase;
}
.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header__button{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button{
    display: flex;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    gap: 0.3rem;
    color: var(--black);
    font-size: var(--font-size-base);
    font-weight: 600;
}
.header__button button:hover{
    border:  2px solid var(--black);
}


/* Article - HomePage */

.articles__heading{
    margin-top: 4rem;
    font-weight: 400;
}
.articles-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}
.articles-list__date{
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}
.articles-ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
}
@media only screen and (min-width:768px){
    .articles-ul li a{
        flex-direction: row;
        align-items: center;
    }
    .articles-list__date{
        text-align: right;
    }
}

.articles-ul li{
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}
.articles-ul li:not(:last-child){
    border-bottom: 1px solid var(--gray-light);
}
.articles-ul li:hover{
    filter: none;
}
.pagination{
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}
.pagination:hover{
  color: var(--black);
}
.articles-ul:hover li{
    filter:blur(3px)
}
.articles-ul:hover li:hover{
    filter: none;
}
.articles{
    white-space: pre-wrap;
}

/* footer */
.footer{
    margin: 4rem;
    text-align: center;
    
}

/* searchBar */
.searchBar{
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.open{
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input{
    margin: 0;
    padding: 0;
}
#searchClose{
    position: absolute;
    top: 0;
    right: 0;
    color:var(--gray-light);
    padding: 16px ;
    cursor: pointer;
}